<ion-app>
  <ion-content>
    <div class="preloader-wrap p-3 bg-degradado" style="padding-top: 170px !important;">
      <div class="box shimmer">
        <div class="lines">
          <div class="line s_shimmer"></div>
          <div class="line s_shimmer"></div>
          <div class="line s_shimmer"></div>
          <div class="line s_shimmer"></div>
        </div>
      </div>
      <div class="box shimmer mb-3">
        <div class="lines">
          <div class="line s_shimmer"></div>
          <div class="line s_shimmer"></div>
          <div class="line s_shimmer"></div>
          <div class="line s_shimmer"></div>
        </div>
      </div>
    </div>

    <div class="app-body p-4 bg-degradado">
      <div class="row">
        <div class="col-sm-12">
          <div class="item-header fw-600 text-black mt-2 mb-3"><h4>Categorias</h4><a href="#" class="more-btn">See all <i class="ti-arrow-circle-right"></i></a></div>
          <ul class="shop-item pl-0">
            <li class="bor-rad10">
              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0"><a href="#"><img src="https://via.placeholder.com/275x445.png" alt="image"></a></figure>
                <div class="content-div">
                  <h6 class="text-white fw-600 mb-0">Men</h6>
                  <span class="mt-0">Amazon, Brajil</span>
                </div>
              </div>
            </li>
            <li class="bor-rad10">
              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0"><a href="#"><img src="https://via.placeholder.com/275x445.png" alt="image"></a></figure>
                <div class="content-div">
                  <h6 class="text-white fw-600 mb-0">Men</h6>
                  <span class="mt-0">Amazon, Brajil</span>
                </div>
              </div>
            </li>
            <li class="bor-rad10">
              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0"><a href="#"><img src="https://via.placeholder.com/275x445.png" alt="image"></a></figure>
                <div class="content-div">
                  <h6 class="text-white fw-600 mb-0">Men</h6>
                  <span class="mt-0">Amazon, Brajil</span>
                </div>
              </div>
            </li>
            <li class="bor-rad10">
              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0"><a href="#"><img src="https://via.placeholder.com/275x445.png" alt="image"></a></figure>
                <div class="content-div">
                  <h6 class="text-white fw-600 mb-0">Men</h6>
                  <span class="mt-0">Amazon, Brajil</span>
                </div>
              </div>
            </li>
            <li class="bor-rad10">
              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0"><a href="#"><img src="https://via.placeholder.com/275x445.png" alt="image"></a></figure>
                <div class="content-div">
                  <h6 class="text-white fw-600 mb-0">Men</h6>
                  <span class="mt-0">Amazon, Brajil</span>
                </div>
              </div>
            </li>
            <li class="bor-rad10">
              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0"><a href="#"><img src="https://via.placeholder.com/275x445.png" alt="image"></a></figure>
                <div class="content-div">
                  <h6 class="text-white fw-600 mb-0">Men</h6>
                  <span class="mt-0">Amazon, Brajil</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-app>
