<ion-app>
  <ion-content>
    <div class="preloader-wrap p-3 bg-degradado" style="padding-top: 170px !important;">
      <div class="box shimmer">
        <div class="lines">
          <div class="line s_shimmer"></div>
          <div class="line s_shimmer"></div>
          <div class="line s_shimmer"></div>
          <div class="line s_shimmer"></div>
        </div>
      </div>
      <div class="box shimmer mb-3">
        <div class="lines">
          <div class="line s_shimmer"></div>
          <div class="line s_shimmer"></div>
          <div class="line s_shimmer"></div>
          <div class="line s_shimmer"></div>
        </div>
      </div>
    </div>
    <div class="app-body p-4 bg-degradado">
      <div class="row">
        <div class="col-sm-12 mb-4">
          <div class="owl-carousel owl-theme shop-categoris vis-slider" style="width:120%;">
            <div class="item"><a href="#"><img src="../../assets/images/productos/04.png" alt="cat"><h4>Women</h4></a></div>
            <div class="item"><a href="#"><img src="../../assets/images/productos/05.png" alt="cat"><h4>Men</h4></a></div>
            <div class="item"><a href="#"><img src="../../assets/images/productos/06.png" alt="cat"><h4>Accessories</h4></a></div>
            <div class="item"><a href="#"><img src="../../assets/images/productos/07.png" alt="cat"><h4>Shoes</h4></a></div>
            <div class="item"><a href="#"><img src="../../assets/images/productos/08.png" alt="cat"><h4>Sunglass</h4></a></div>
            <div class="item"><a href="#"><img src="../../assets/images/productos/09.png" alt="cat"><h4>Belt</h4></a></div>
            <div class="item"><a href="#"><img src="../../assets/images/productos/04.png" alt="cat"><h4>Women</h4></a></div>								
          </div>
        </div>
        <div class="col-sm-12 mb-0">
          <div class="profile-content-tab active-tab" id="Popular">
            <div class="owl-carousel owl-theme item-category travel-slider" style="width:135%;">
              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0 m_all_0"><a href="#"><img src="../../assets/images/productos/01.png" alt="image"></a></figure>
                <div class="content-div">
                  <a href="shop-single.html">
                  <h2 class="fw-600 text-white mb-1">Straight Fit<br> Jeans</h2>
                  <span><i class="ti-location-pin mr-2 text-white"></i>Fringes</span>
                  </a>
                </div>
                <i class="ti-heart mt-3 text-red bg-white"></i>
              </div>
              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0 m_all_0"><a href="#"><img src="../../assets/images/productos/02.png" alt="image"></a></figure>
                <div class="content-div">
                  <a href="shop-single.html">
                  <h2 class="fw-600 text-white mb-1">Denim Shorts <br>Fringes</h2>
                  <span><i class="ti-location-pin mr-2 text-white"></i>Amazon, Brajil</span>
                  </a>
                </div>
                <i class="ti-heart mt-3 text-red bg-white"></i>
              </div>

              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0 m_all_0"><a href="#"><img src="../../assets/images/productos/03.png" alt="image"></a></figure>
                <div class="content-div">
                  <a href="shop-single.html">
                  <h2 class="fw-600 text-white mb-1">Distressed <br> Shorts</h2>
                  <span><i class="ti-location-pin mr-2 text-white"></i>Amazon, Brajil</span>
                  </a>
                </div>
                <i class="ti-heart mt-3 text-red bg-white"></i>
              </div>	
            </div>
          </div>
        </div>
        <div class="col-sm-12 mb-4" style="margin-top: 11px;" >
          <div class="title_category" style="margin-bottom: 6px;"> Categoria 1</div>
          <div class="profile-content-tab active-tab" id="Popular">
            <div class="owl-carousel owl-theme carrusel-category item-category">
              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0 m_all_0"><a href="#"><img src="../../assets/images/productos/03.png" alt="image"></a></figure>
                <div class="content-div">
                  <a href="shop-single.html">
                    <p class="fw-600 text-white mb-1">Distressed</p>
                  </a>
                </div>
              </div>
              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0 m_all_0"><a href="#"><img src="../../assets/images/productos/03.png" alt="image"></a></figure>
                <div class="content-div">
                  <a href="shop-single.html">
                    <p class="fw-600 text-white mb-1">Distressed</p>
                  </a>
                </div>
              </div>
              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0 m_all_0"><a href="#"><img src="../../assets/images/productos/03.png" alt="image"></a></figure>
                <div class="content-div">
                  <a href="shop-single.html">
                    <p class="fw-600 text-white mb-1">Distressed</p>
                  </a>
                </div>
              </div>
              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0 m_all_0"><a href="#"><img src="../../assets/images/productos/03.png" alt="image"></a></figure>
                <div class="content-div">
                  <a href="shop-single.html">
                    <p class="fw-600 text-white mb-1">Distressed</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="title_category" style="text-align: right; margin-top: 6px;"> Ver todas</div>
          </div>
        </div>
        <div class="col-sm-12 mb-4" style="margin-top: 11px;" >
          <div class="title_category" style="margin-bottom: 6px;"> Categoria 2</div>
          <div class="profile-content-tab active-tab" id="Popular">
            <div class="owl-carousel owl-theme carrusel-category item-category">
              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0 m_all_0"><a href="#"><img src="../../assets/images/productos/03.png" alt="image"></a></figure>
                <div class="content-div">
                  <a href="shop-single.html">
                    <p class="fw-600 text-white mb-1">Distressed</p>
                  </a>
                </div>
              </div>
              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0 m_all_0"><a href="#"><img src="../../assets/images/productos/03.png" alt="image"></a></figure>
                <div class="content-div">
                  <a href="shop-single.html">
                    <p class="fw-600 text-white mb-1">Distressed</p>
                  </a>
                </div>
              </div>
              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0 m_all_0"><a href="#"><img src="../../assets/images/productos/03.png" alt="image"></a></figure>
                <div class="content-div">
                  <a href="shop-single.html">
                    <p class="fw-600 text-white mb-1">Distressed</p>
                  </a>
                </div>
              </div>
              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0 m_all_0"><a href="#"><img src="../../assets/images/productos/03.png" alt="image"></a></figure>
                <div class="content-div">
                  <a href="shop-single.html">
                    <p class="fw-600 text-white mb-1">Distressed</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="title_category" style="text-align: right; margin-top: 6px;"> Ver todas</div>
          </div>
        </div>
        <div class="col-sm-12 mb-4" style="margin-top: 11px;" >
          <div class="title_category" style="margin-bottom: 6px;"> Categoria 3</div>
          <div class="profile-content-tab active-tab" id="Popular">
            <div class="owl-carousel owl-theme carrusel-category item-category">
              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0 m_all_0"><a href="#"><img src="../../assets/images/productos/03.png" alt="image"></a></figure>
                <div class="content-div">
                  <a href="shop-single.html">
                    <p class="fw-600 text-white mb-1">Distressed</p>
                  </a>
                </div>
              </div>
              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0 m_all_0"><a href="#"><img src="../../assets/images/productos/03.png" alt="image"></a></figure>
                <div class="content-div">
                  <a href="shop-single.html">
                    <p class="fw-600 text-white mb-1">Distressed</p>
                  </a>
                </div>
              </div>
              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0 m_all_0"><a href="#"><img src="../../assets/images/productos/03.png" alt="image"></a></figure>
                <div class="content-div">
                  <a href="shop-single.html">
                    <p class="fw-600 text-white mb-1">Distressed</p>
                  </a>
                </div>
              </div>
              <div class="item list-item-full bg-gradiant-black pl-0 pr-0">
                <figure class="mb-0 m_all_0"><a href="#"><img src="../../assets/images/productos/03.png" alt="image"></a></figure>
                <div class="content-div">
                  <a href="shop-single.html">
                    <p class="fw-600 text-white mb-1">Distressed</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="title_category" style="text-align: right; margin-top: 6px;"> Ver todas</div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-app>